#!/usr/bin/env bash
# ^^^ for syntax checking in the editor only

echo "LocalConsole: Working in $MMDAPP" >&2
[ -f "$HOME/.bashrc" ] && . "$HOME/.bashrc" 

export MDRC_BIN="$MMDAPP/.local"

# search: 1) previous path; 2) distro {.local|system|deploy|source} scripts.

if [ -d "$MDRC_BIN/myx/myx.distro-.local/sh-scripts" ] ; then
	PATH+=":$MDRC_BIN/myx/myx.distro-.local/sh-scripts"

	LocalConsole(){
		return 0
	}
fi

if [ -d "$MDRC_BIN/myx/myx.distro-system/sh-scripts" ] ; then
	PATH+=":$MDRC_BIN/myx/myx.distro-system/sh-scripts"

	SystemConsole(){
		return 0
	}
fi

if [ -d "$MDRC_BIN/myx/myx.distro-deploy/sh-scripts" ] ; then
	PATH+=":$MDRC_BIN/myx/myx.distro-deploy/sh-scripts"

	echo "LocalConsole: Type 'DeployConsole' to start Deploy Console." >&2

	DeployConsole(){
		$MDRC_BIN/myx/myx.distro-deploy/actions/distro/deploy-tools/deploy-console.sh
		return 0
	}
fi

if [ -d "$MDRC_BIN/myx/myx.distro-source/sh-scripts" ] ; then
	PATH+=":$MDRC_BIN/myx/myx.distro-source/sh-scripts"

	echo "LocalConsole: Type 'SourceConsole' to start Source Console." >&2

	SourceConsole(){
		$MDRC_BIN/myx/myx.distro-source/actions/distro/source-tools/source-console.sh
		return 0
	}
fi

if [ -d "$MDRC_BIN/myx/myx.distro-remote/sh-scripts" ] ; then
	PATH+=":$MDRC_BIN/myx/myx.distro-remote/sh-scripts"

	echo "LocalConsole: Type 'RemoteConsole' to start Remote Console." >&2

	RemoteConsole(){
		$MDRC_BIN/myx/myx.distro-remote/actions/distro/remote-tools/remote-console.sh
		return 0
	}
fi

. "$MDRC_BIN/myx/myx.distro-remote/sh-lib/DistroRemoteContext.include"
DistroRemoteContext --run-from-.local

complete -W "\` Remote --completion-all \`" "."
complete -W "\` Remote --completion-all \`" "*"
complete -W "\` Remote --completion-all \`" "which"
complete -W "\` Remote --completion-require \`" "Require"
complete -W "\` Remote --completion-remote \`" "Remote"

PS1="\` Remote --shell-prompt \`: $PS1"
export PS1
