#!/usr/bin/env bash
# ^^^ for syntax checking in the editor only

[ -z "$MDLT_ORIGIN" ] && echo "RemoteConsole: Working in $MMDAPP" >&2
[ -f "$HOME/.bashrc" ] && . "$HOME/.bashrc" 

. "${MDLT_ORIGIN:-$MMDAPP/.local}/myx/myx.distro-remote/sh-lib/RemoteContext.include"
DistroRemoteContext --run-from-.local

# search: 1) previous path; 2) distro {.local|system|deploy|source} scripts.

if [ -d "$MDLT_ORIGIN/myx/myx.distro-.local/sh-scripts" ] ; then
	PATH+=":$MDLT_ORIGIN/myx/myx.distro-.local/sh-scripts"

	LocalConsole(){
		bash --rcfile "$MDLT_ORIGIN/myx/myx.distro-.local/sh-lib/console-.local-bashrc.rc" -i "$@"
		return 0
	}
fi

if [ -d "$MDLT_ORIGIN/myx/myx.distro-system/sh-scripts" ] ; then
	PATH+=":$MDLT_ORIGIN/myx/myx.distro-system/sh-scripts"
fi

if [ -d "$MDLT_ORIGIN/myx/myx.distro-deploy/sh-scripts" ] ; then
	PATH+=":$MDLT_ORIGIN/myx/myx.distro-deploy/sh-scripts"

	echo "LocalConsole: Type 'DeployConsole' to start Deploy Console." >&2

	DeployConsole(){
		bash --rcfile "$MDLT_ORIGIN/myx/myx.distro-deploy/sh-lib/console-deploy-bashrc.rc" -i "$@"
		return 0
	}
fi

if [ -d "$MDLT_ORIGIN/myx/myx.distro-source/sh-scripts" ] ; then
	PATH+=":$MDLT_ORIGIN/myx/myx.distro-source/sh-scripts"

	echo "LocalConsole: Type 'SourceConsole' to start Source Console." >&2

	SourceConsole(){
		bash --rcfile "$MDLT_ORIGIN/myx/myx.distro-source/sh-lib/console-source-bashrc.rc" -i "$@"
		return 0
	}
fi

if [ -d "$MDLT_ORIGIN/myx/myx.distro-remote/sh-scripts" ] ; then
	PATH+=":$MDLT_ORIGIN/myx/myx.distro-remote/sh-scripts"

	echo "LocalConsole: Type 'RemoteConsole' to start Remote Console." >&2

	RemoteConsole(){
		bash --rcfile "$MDLT_ORIGIN/myx/myx.distro-remote/sh-lib/console-remote-bashrc.rc" -i "$@"
		return 0
	}
fi


Help(){
	( . "$MDLT_ORIGIN/myx/myx.distro-remote/sh-lib/HelpDistroRemoteConsole.include" )
	set +e ; return 1
}

complete -W "\` Remote --completion-all \`" "."
complete -W "\` Remote --completion-all \`" "*"
complete -W "\` Remote --completion-all \`" "which"
complete -W "\` Remote --completion-require \`" "Require"
complete -W "\` Remote --completion-remote \`" "Remote"

PS1="\` Remote --shell-prompt \`: $PS1"
export PS1
